<template name="userProfile">
  <div class="row">
    <div class="col-md-4">
      <div class="games-panel panel panel-default {{style}}">
        <div class="panel-heading">User Profile</div>
        <ul>
          <li>Username : {{user.username}}</li>
          <li>Firstname : {{user.profile.displayName.first}}</li>
          <li>Lastname : {{user.profile.displayName.last}}</li>
          <li>Age : {{user.profile.age}}</li>
          <li>Location : {{user.profile.location}}</li>
          <li>Profile : {{user.profile.description}}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      {{> gameTable games=games heading="Game History"}}
    </div>
  </div>
</template>
