<template name="historyButtons">
  <div class="history-buttons" role="group">
    <a href="#" id="history-move" data-content='
      <form id="history-jump-form"><input class="form-control" type="text" value="{{currentMoveNumber}}"/></form>
    '>{{currentMoveNumber}} / {{gameLength}}</a>
    <a href="#" id="history-begin"><i class="fa fa-angle-double-left"></i></a>
    <a href="#" id="history-back"><i class="fa fa-angle-left"></i></a>
    <a href="#" id="history-forward"><i class="fa fa-angle-right"></i></a>
    <a href="#" id="history-end"><i class="fa fa-angle-double-right"></i></a>
  </div>
  {{historyUpdate}}
</template>
