<template name="messageHistoryButtons">
  <div class="message-history-buttons btn-group btn-group-xs" role="group" data-toggle="buttons">
    <!--
    <label class="btn btn-default{{#if buttonLiveActive}} active{{/if}}">
      <input type="radio" name="chat-mode" id="chat-live" autocomplete="off" checked="{{#if buttonLiveActive}}true{{else}}false{{/if}}"> Live Chat
    </label>
    <label class="btn btn-default{{#if buttonInGameActive}} active{{/if}}">
      <input type="radio" name="chat-mode" id="chat-ingame" autocomplete="off" checked="{{#if buttonLiveActive}}true{{else}}false{{/if}}"> In-Game Chat
    </label>
  -->

    <label id="chat-live" class="btn btn-default {{#if buttonLiveActive}} active{{/if}}">
      <input type="radio" name="chat-mode" autocomplete="off"> Live Chat
    </label>
    <label id="chat-ingame" class="btn btn-default {{#if buttonInGameActive}} active{{/if}}">
      <input type="radio" name="chat-mode" autocomplete="off"> In-Game Chat
    </label>
  </div>
</template>
