<template name="userItem">
  <span class="userItem">
    {{#if user}}
      <span class="{{currentUser}}">
        {{#with user}}
          {{#if userIsOnline}}<i class="fa fa-user"></i>{{/if}}
          {{username}}
          <small class="rating">{{rank}}</small>
        {{/with}}
        {{#if turnIndicator}}
          {{#if currentMove}}<i class="fa fa-dot-circle-o move-indicator"></i>{{/if}}
        {{/if}}
        {{#if isWinner}}<small class="score">{{score}}</small>{{/if}}
      </span>
    {{else}}
      {{#if joinable}}
        <a href="#" class="join-game" data-color="{{color}}">Join Game</a>
      {{else}}
        <small>Waiting...</small>
      {{/if}}
    {{/if}}
  </span>
</template>
