<template name="globalChat">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span id="global-chat">Global Chat</span>
        {{#each privateRooms}}
          | <span class="pm">{{name}}</span>
        {{/each}}
      </h3>
    </div>
    <div class="panel-body chat-body" id="chat-box">
      <!-- load messages here -->
      <div class="panel-body chat-messages">
        {{#each messages}}
          <div class="global-msg">
          <span><span class="global-msg-username">{{user}} [{{time}}]: </span>{{text}}</span>
          </div>
        {{/each}}
      </div>
    </div>
    <hr />
    <form class="input-group enter-message" id="chat-form-submit">
      <input type="text" name="message" class="form-control" placeholder="Enter message here..." aria-describedby="basic-addon2">
      <span class="input-group-btn">
       <button class="btn btn-danger" id="enter-message-submit" type="submit">Submit</button>
      </span>
    </form>
  </div>
</template>
