<template name="globalChat">
  <div class="col-md-9 global-chat">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Global Chat</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>

  <div class="col-md-3 online-users">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Online Users</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>


</template>