<template name="layout">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="{{pathFor 'lobby'}}">Go</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            {{#if routeIs 'lobby' }}
              <li> <a href="{{pathFor 'createGame'}}"><i class="fa fa-plus"></i> Create Game</a> </li>
            {{else}}
              <li> <a href="{{pathFor 'lobby'}}"><i class="fa fa-list-ul"></i> Game List</a> </li>
            {{/if}}
          {{/if}}
          {{> loginButtons}}
        </ul>
      </div>

    </nav>
    <div id="main">
      {{> yield}}
    </div>
  </div>
</template>
