<template name="actionButtons">
{{#if gameEnded}}
  {{#if isBottom}}
    {{> historyButtons}}
  {{/if}}
{{else}}

  {{#if cancelable}}
    {{#if isBottom}}
      <div class="action-buttons" role="group">
        <a href="#" id="cancel-game">Cancel Game <i class="fa fa-ban"></i></a>
      </div>
    {{/if}}
  {{else}}

    {{#if playerData.isCurrentPlayer}}

      {{#if playerTurn}}
        <div class="action-buttons" role="group">
          <a href="#" id="pass-game">Pass <i class="fa fa-arrow-circle-o-right"></i></a>
          <a href="#" id="resign-game">Resign</a>
        </div>
      {{else}}
        {{#if markingDead}}
          <div class="action-buttons" role="group">
            {{#if mdDisabled}}
              <a href="#" disabled>Waiting for opponent...</a>
            {{else}}
              <a href="#" id="md-decline"><i class="fa fa-times"></i> Decline</a>
              <a href="#" id="md-accept"><i class="fa fa-check"></i> Accept </a>
            {{/if}}
          </div>
        {{else}}
          <div class="action-buttons" role="group">
            {{#if undoRequested}}
              <a href="#" id="undo-game" disabled>Requesting undo...</a>
            {{else}}
              <a href="#" id="undo-game">Undo <i class="fa fa-undo"></i></a>
            {{/if}}
          </div>
        {{/if}} <!-- markingDead -->
      {{/if}} <!-- playerTurn -->


    {{/if}} <!-- playerData.isCurrentPlayer -->

  {{/if}}<!-- cancelable -->

{{/if}}
</template>
