<template name="actionButtons">
{{#if gameEnded}}
  {{#if isBottom}}
    {{> historyButtons}}
  {{/if}}
{{else}}
  {{#if playerBox_data.isCurrentPlayer}}
    {{#if playerBox_playerTurn}}
      <div class="action-buttons" role="group">
        <a href="#" class="btn btn-default" id="resign-game">Resign</a>
        <a href="#" class="btn btn-default" id="pass-game">Pass <i class="fa fa-arrow-circle-o-right"></i></a>
      </div>
    {{else}}
      {{#if markingDead}}
        <div class="action-buttons" role="group">
          {{#if mdDisabled}}
            <a href="#" disabled>Waiting for opponent...</a>
          {{else}}
            <a href="#" id="md-decline"><i class="fa fa-times"></i> Decline</a>
            <a href="#" id="md-accept"><i class="fa fa-check"></i> Accept </a>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}

{{/if}}
</template>
