<template name="historyButtons">
  <div class="history-buttons btn-group btn-group-justified btn-group-sm" role="group">
    <a href="#" class="btn btn-default disabled" id="history-move">{{currentMoveNumber}} / {{gameLength}}</a>
    <a href="#" class="btn btn-default" id="history-begin"><i class="fa fa-angle-double-left"></i></a>
    <a href="#" class="btn btn-default" id="history-back"><i class="fa fa-angle-left"></i></a>
    <a href="#" class="btn btn-default" id="history-forward"><i class="fa fa-angle-right"></i></a>
    <a href="#" class="btn btn-default" id="history-end"><i class="fa fa-angle-double-right"></i></a>
  </div>
  {{historyUpdate}}
</template>
