<template name="playerBox">
  <table class="player-box {{playerTurn}} {{undoRequested}}"><tr>
    <td> <div class="user">
      {{#if playerData.user}}
        {{#if userIsOnline}}
          <i class="fa fa-user {{userPresent}}"></i>
        {{/if}}
        {{playerData.user.username}}
        {{#if playerData.isCurrentPlayer}} <em>(you)</em> {{/if}}
        {{#if score}}<small class="score">{{score}}</small>{{/if}}
        {{#if captureCount}}
          <br/><small>Captured: <strong>{{captureCount}}</strong></small>
        {{/if}}
      {{else}}
        {{#if playerData.joinButton}}
          <a href="#" class="join-game" data-color="{{playerData.color}}">Join as {{playerData.color}}</a>
        {{else}}
          {{#if playerData.joinPrompt}}
            <small><em><a href="#" class="login-prompt">Log in or register</a> to play</em></small>
          {{else}}
            <small><em>Waiting for opponent...</em></small>
          {{/if}}
        {{/if}}
      {{/if}}
    </div> </td>
    {{#if undoRequested}}
      <!-- buttons here -->
      <td>
        <div class="undo-note">takeback request</div>
      </td>
      <td>
        <div class="undo-box">
          <div class="vertical-buttons" role="group">
            <a href="#" id="undo-accept"><i class="fa fa-check"></i> Accept</a>
            <a href="#" id="undo-deny"><i class="fa fa-times"></i> Deny</a>
          </div>
        </div>
      </td>
    {{else}}
      <td>{{> gameTimer}}</td>
      <td> <div class="color {{playerData.color}}"></div> </td>
    {{/if}}
  </tr></table>

  {{> actionButtons}}
</template>
