<template name="playerBox">
  <div class="player-box {{playerTurn}}">
    <div class="user">
      {{#if playerData.user}}
        {{#if userIsOnline}}
          <i class="fa fa-user {{userPresent}}"></i>
        {{/if}}
        {{playerData.user.username}}
        {{#if playerData.isCurrentPlayer}} <em>(you)</em> {{/if}}
        {{#if score}}<small class="score">{{score}}</small>{{/if}}
        {{#if captureCount}}
          <br/><small>Captured: <strong>{{captureCount}}</strong></small>
        {{/if}}
      {{else}}
        {{#if playerData.joinButton}}
          <a href="#" class="join-game" data-color="{{playerData.color}}">Join as {{playerData.color}}</a>
        {{else}}
          {{#if playerData.joinPrompt}}
            <small><em><a href="#" class="login-prompt">Log in or register</a> to play</em></small>
          {{else}}
            <small><em>Waiting for opponent...</em></small>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
    <div class="color {{playerData.color}}"></div>
    {{> gameTimer}}
    <div class="clearfix"></div>
  </div>

  {{> actionButtons}}
</template>
