<template name="playerBox">
  <div class="player-box {{playerBox_playerTurn}}">
    <div class="user">
      {{#if playerBox_data.user}}
        {{#if userIsOnline}}
          <i class="fa fa-user {{userPresent}}"></i>
        {{/if}}
        {{playerBox_data.user.username}}
        {{#if playerBox_data.isCurrentPlayer}} <em>(you)</em> {{/if}}
        {{#if score}}<small class="score">{{score}}</small>{{/if}}
        {{#if captureCount}}
          <br/><small>Captured: <strong>{{captureCount}}</strong></small>
        {{/if}}
      {{else}}
        {{#if playerBox_data.joinButton}}
          <a href="#" class="join-game btn btn-primary" data-color="{{playerBox_data.color}}">Join as {{playerBox_data.color}}</a>
        {{else}}
          {{#if playerBox_data.joinPrompt}}
            <small><em><a href="#" class="login-prompt">Log in or register</a> to play</em></small>
          {{else}}
            <small><em>Waiting for opponent...</em></small>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
    <div class="color {{playerBox_data.color}}"></div>
    {{> gameTimer}}
    <div class="clearfix"></div>
  </div>

  {{> actionButtons}}
</template>
