/*
 * Top-level navmenu
 */
#navMenu {
  li {
    a {
      line-height: 44px;
      height: 44px;
      font-size: 0.9rem;
    }

    // &:hover, &:active { background-color: rgba(0, 0, 0, 0.05) }

    &.logo {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 12px;
      border-bottom: 1px solid #ddd;
      height: 70px;
      &:hover, &:active { background: none; }

      a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.2rem;
        width: 100%;
        letter-spacing: 1px;
      }
    }
  }

  /*
   * Create Game menu
   */
  #createGame {

    #create-game-form {
      @extend .form;
      width: 220px;
      padding: 20px;

      select, input[type=text] { @extend .form-control; }

      /* Time controls */
      .timer-settings {
        @extend .form-group;
        label { font-weight: 400; }

        .input-group {
          input { text-align: center; }
          .input-group-addon {
            width: 50%;
            &:hover { color: #000; }
          }
        }

        #by-periods { width: 38px; }
        #by-group { td:empty { width: 5px; } }
      }

      .challenge-settings {
        @extend .form-group;
        label { font-weight: 400; }
      }

      input[type=submit] { @extend .btn; }
    }
  }


  /*
   * Your Games menu
   */
  #yourGamesMenu {

    #your-games-menu {
      .your-turn-count {
        @extend .label, .label-success;
        padding-right: 4px; padding-left: 4px;
        margin-right: 1px;
      }

    }

    #your-games-dropdown {
      width: 400px;
      padding: 0;

      .games-panel {
        @extend .panel, .panel-success;
        border-radius: 0; margin-bottom: 0;

        .panel-heading {
          border-radius: 0;

          label.filter {
            font-size: 12px;
            font-weight: 400;
            margin-left: 10px;
            input { margin-left: 2px;}
          }
        }

        .games-table {
          @extend .table, .table-hover;

        }

      }

    }
  }

  /* Notifications menu */
  #notificationsMenu {

    #notifications-menu {
      span.received { @extend .label, .label-danger; }
      // span.accepted { @extend .label, .label-success; }
    }

    .dropdown-menu {
      width: 320px;
      padding: 0;

      .mark-read {
        &:hover {
          background-color: #e6e6e6;
          cursor: pointer;
        }
      }

      table {
        @extend .table;
        border: 1px solid #ddd;
        margin: 0;

        > thead > tr {
          background-color: #F8F8F8;

          > td {
            height: 50px;
            &:first-child { font-weight: 600; }
          }

        }

        td {
          vertical-align: middle !important;
          height: 100%;

          &:first-child {
            padding-left: 16px;
          }

          &:last-child {
            width: 50px;
            min-height: 50px;
            text-align: center;
            padding: 0;
          }
        }

        > tbody > tr {
          color: rgba(0, 0, 0, 1);

          &.yourTurnItem {
            td:first-child {
              cursor: pointer;
              &:hover { background-color: #E6E6E6; }
            }
          }

          > td {
            padding-top: 16px; padding-bottom: 16px;

            p { margin: 0; }
            .main {
              margin-bottom: 3px;
              color: rgba(0, 0, 0, 1);
            }
            .sub {
              color: rgba(0, 0, 0, 0.5);
            }

          }

          &.challengeNewItem {

            .mark-read {
              height: 100%; position: relative;
              > a { @extend .btn;
                width: 100%;
                height: 50%;
                border-radius: 0;
                display: block;

                &.challenge-accept { @extend .btn-success;
                  position: absolute;
                  top: 0; left: 0;
                }
                &.challenge-decline { @extend .btn-danger;
                  position: absolute;
                  top: 50%; left: 0;
                }

                i {
                  display: block;
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                }

              }
            }

          } // end .challengeNewItem

        } // end tr
      } // end table
    } // end .dropdown-menu
  } // end #notifications-menu

  // stone for Your Games and Notifications menu
  i.stone {
    &::after {
      content: ' ';
      float: left;
      margin-right: 8px;
      margin-left: -2px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 1px 1px rgba(127, 127, 127, 0.3);
    }
    &.white::after {
      background: linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    }
    &.black::after {
      background: linear-gradient(135deg, rgba(35,36,39,1) 0%,rgba(0,0,0,1) 100%);
    }
  }

}
