.container { min-width: 970px; }

/* match page */

#notify-permissions {
  text-align: center;
  font-size: 12px;
  padding: 12px;
}
.left {
  width: 600px;
  float: left;
}
.right {
  width: 340px;
  margin-top: 31px;
  float: right;

  .player-box {
    border: 1px solid #ccc;
    padding: 0 20px;
    position: relative;
    height: 66px;
    .user {
      width: 75%;
      float: left;
      line-height: 1.2;
      position:relative;
      top: 50%;
      transform: translateY(-50%);
      small {
        color: rgba(0, 0, 0, 0.5);
        strong {
          font-weight: 600;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
    .color {
      width: 20%;
      height: 24px;
      float: right;
      text-align: right;
      position:relative;
      top: 50%;
      transform: translateY(-50%);

      &::after {
        content: ' ';
        float: right;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        box-shadow: 1px 1px 1px 1px rgba(127, 127, 127, 0.3);
      }
      &.white::after {
        background: linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
      }
      &.black::after {
        background: linear-gradient(135deg, rgba(35,36,39,1) 0%,rgba(0,0,0,1) 100%);
      }
    }
    &.player-turn {
      background: #d1eaff;
      border-color: #8997AF;
    }
  }
  .action-buttons, .history-buttons, .message-history-buttons{
    .btn {
      border-radius: 0;
      border-top: 0;
    }
    :first-child { border-right: 0; }
  }
  .history-buttons, .message-history-buttons {
    .btn {
      border-right-width: 0;
      &:last-child { border-right-width: 1px; }
    }
  }
  .message-history-buttons {
    position: absolute;
    top: 0; right: -1px;
  }

  .messages-container {
    height: 356px;
    position: relative;
    margin: 10px 0;
    background: #eee;
    border: 1px solid #ccc;
    .input-group {
      position: absolute;
      bottom: 0px;
      * { border-radius: 0; margin-bottom: -1px; }
      input[type=text] { margin-left: -1px; z-index: 2}
      span { z-index: 1; }
      input[type=submit] { margin-right: -2px; margin-left: -2px; }
    }
    ul.messages {
      padding: 8px 20px 10px;
      list-style: none outside none;
      height: 321px;
      background: #eee;
      overflow: auto;

      &::-webkit-scrollbar { -webkit-appearance: none; }
      &::-webkit-scrollbar:vertical { width: 11px; }
      &::-webkit-scrollbar:horizontal { height: 11px; }
      &::-webkit-scrollbar-thumb { border-radius: 8px; border: 2px solid #eee; /* should match background, can't be transparent */ background-color: rgba(0, 0, 0, .5); }
      &::-webkit-scrollbar-track { background-color: #eee; border-radius: 8px; }

      .author {
        font-weight: 600;
        color: rgba(0, 0, 0, 0.3);
      }
      .game-message{ font-weight: 600; }
      em { color: rgba(0, 0, 0, 0.5); }
    }
  }
}
hr {
  clear: both;
}

#your-games-dropdown {
  width: 400px;
  padding: 0;
  .games-panel {
    border-radius: 0;
    margin-bottom: 0;
    .panel-heading { border-radius: 0; }
  }
}

/* lobby */

.create-game {
  width: 220px;
  padding: 20px;
}



label.filter {
  font-size: 12px;
  font-weight: 400;
  input { margin-left: 2px;}
}
.game {
  &.your-turn { border-left: 5px #d6e9c6 solid; }
  span {
    color: rgba(0, 0, 0, 0.7);
    &.faded { color: rgba(0, 0, 0, 0.5); }
    &.current-user {
      color: #69769F;
    }
    small.score {
      font-size: 11px;
      color: rgba(0, 0, 0, 0.5);
      margin-left: 5px;
    }

  }
  td{
    &:first-child { padding-left: 15px; }
    &:last-child { padding-right: 15px; text-align: right; }
  }
}
i.stone {
  &::after {
    content: ' ';
    float: left;
    margin-right: 8px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(127, 127, 127, 0.3);
  }
  &.white::after {
    background: linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
  }
  &.black::after {
    background: linear-gradient(135deg, rgba(35,36,39,1) 0%,rgba(0,0,0,1) 100%);
  }
}

#profile-form {
  .input-group { width: 100%; }
  .input-group-addon { width: 100px;}
  input {
    width: 100%;
  }
  .profile-form-buttons {
    margin-top: 10px;
  }

  .right{
    text-align:right;
  }
}

#user-profile-view{
  .bold {
    font-weight: bold;
  }
  #profile-edit{
    margin-top: 0px;
    width: 100%;
  }
}
