<template name="createGame">
  <li id="createGame">
    <a href="#" class="dropdown-button btn" data-activates="create-game-form"><i class="fa fa-plus"></i> New Game</a>

    <form id="create-game-form" class="dropdown-menu" aria-labelledby="create-game-menu">
      <div class="form-group">
        <label class="control-label" for="title">Size</label>
        <div class="controls">
          <select name="size" id="size">
            <option value="9">9x9</option>
            <option value="13">13x13</option>
            <option value="19" selected>19x19</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="title">Your Color</label>
        <div class="controls">
          <label class="radio-inline">
            <input type="radio" name="color" value="black" checked />
            Black
          </label>
          <label class="radio-inline">
            <input type="radio" name="color" value="white" />
            White
          </label>
        </div>
      </div>
      {{> timerSettings }}
      <hr />
      {{> challengeSettings}}

      {{#if loading}}
      <input type="submit" value="Creating game..." disabled class="{{button.class}}"/> {{> spinner}}
      <div class="overlay"></div>
      {{else}}
      <input type="submit" value="{{button.text}} &rarr;" class="{{button.class}}"/>
      {{/if}}
    </form>
  </li>
</template>
