<template name="yourGamesTable">
  <div class="games-panel">
    <div class="panel-heading">
      Your Games

      <label class="filter pull-right">
        <input type="checkbox" checked="{{yourMoveOnly}}" class="your-move-filter"/>
        Your move
      </label>
      <label class="filter pull-right">
        <input type="checkbox" checked="{{isTimed}}" class="is-timed-filter"/>
        Timed
      </label>

    </div>
    {{#if games.count}}
    <table class="games-table">
      <tbody>
        {{#each games}}
        {{> yourGameRow }}
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <div class="panel-body">No games here. Join or create one.</div>
    {{/if}}
  </div>
</template>
