<template name="yourGamesTable">
    <!--
  <div class="games-panel">
    <div class="panel-heading">
      Your Games



    </div>
  -->
    <table>
      <tbody>
        <tr class="filters">
          <td>
            <input type="checkbox" checked="{{yourMoveOnly}}" id="your-move-filter"/>
            <label for="your-move-filter">Your move</label>
          </td>
          <td>
            <input type="checkbox" checked="{{isTimed}}" id="is-timed-filter"/>
            <label for="is-timed-filter">Timed</label>
          </td>
        </tr>
      </tbody>
    </table>


    <table>
      <tbody>
      {{#if games.count}}
          {{#each games}}
          {{> yourGameRow }}
          {{/each}}
      {{else}}
        <tr><td>No games yet. Join or create one.</td></tr>
      {{/if}}
      </tbody>
    </table>
  <!-- </div> -->
</template>
