<template name="editUserProfile">
  <div class="row center">
    <form id="profile-form" class="form-group" role="form">
      <div class="col-md-6">
        <label>Account:</label>
        <div class="input-group">
          <label class="input-group-addon" for="username">Username</label>
          <input type="text" id="username" class="form-control" name="username" value="{{userData.username}}" disabled="true">
        </div>

        <div class="input-group">
          <label class="input-group-addon" for="firstname">Firstname</label>
          <input type="text" class="form-control" id="firstname" name="firstname" value="{{userData.profile.displayName.first}}">
        </div>
        <div class="input-group">
          <label class="input-group-addon" for="lastname">Lastname</label>
          <input type="text" class="form-control" id="lastname" name="lastname" value="{{userData.profile.displayName.last}}">
        </div>
        <div class="input-group">
          <label class="input-group-addon" for="age">Age</label>
          <input type="text" class="form-control" id="age" name="age" value="{{userData.profile.age}}">
        </div>
        <div class="input-group">
          <label class="input-group-addon" for="location">Location</label>
          <input type="text" class="form-control" id="location" name="location" value="{{userData.profile.location}}" placeholder="City, State">
        </div>
        <div class="profile-form-buttons right">
          <button id="profile-reset-button" class="btn btn-danger">Reset Changes</button>
          <button type="submit" class="btn btn-primary" id="updateProfile">Update Profile</button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Profile:</label>
          <textarea class="form-control" rows="5" name="description" id="description" value="{{userData.profile.description}}" placeholder="Enter a brief profile about yourself here"></textarea>
        </div>
      </div>
    </form>
  </div>
</template>
