<template name="navMenu">
  <ul id="navMenu" class="side-nav fixed">
    <li class="logo valign-wrapper">
      <a class="valign" href="{{pathFor 'lobby'}}">Online Go</a>
    </li>
    <li> <a href="{{pathFor 'lobby'}}" class="waves-effect waves-teal"> <!--<i class="fa fa-home"></i>--> Lobby</a> </li>

    {{#if currentUser}}
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          {{> yourGamesMenu}}
        </ul>
      </li>
      <!-- {{> createGame}} -->
    {{/if}}

    <!-- {{> loginButtons}} -->

  </ul>
</template>
