<template name="navMenu">
  <nav id="navMenu" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{pathFor 'lobby'}}">Go</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if routeIsNot 'lobby'}}
          <li> <a href="{{pathFor 'lobby'}}"><i class="fa fa-home"></i> Lobby</a> </li>
        {{/if}}
        {{#if currentUser}}
          {{> yourGamesMenu}}
          {{> createGame}}
        {{/if}}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
          {{> pmMenu}}
          {{> challengeMenu}}
          {{> notificationsMenu}}
        {{/if}}
        {{> loginButtons}}
      </ul>
    </div>

  </nav>
</template>
