<template name="timerSettings">
  <div class="form-group">
    <label for="enable-timer" id="enable-timer-label">
      <input type="checkbox" name="enable-timer" id="enable-timer" checked="{{timerEnabled}}"/> Timed
    </label>
  </div>
  {{#if timerEnabled}}
  <div class="form-group">
    <label class="sublabel" for="enable-main-time">
      <input type="checkbox" name="enable-main-time" id="enable-main-time" checked="{{mainTimeEnabled}}"/> Main time
    </label>
    {{#if mainTimeEnabled}}
    <div class="input-group" id="timer-group">
      <input type="text" name="time-control" id="time-control" class="form-control" placeholder="#" value="20"/>
      <input type="hidden" name="time-type" id="time-type" value="minutes"/>
      <a href="#" class="input-group-addon" id="time-type-display">minutes</a>
    </div>
    {{/if}}
  </div>
  <div class="form-group">
    <label class="sublabel" for="enable-byoyomi">
      <input type="checkbox" name="enable-byoyomi" id="enable-byoyomi" checked="{{byoyomiEnabled}}"/> Byo-yomi
    </label>
    {{#if byoyomiEnabled}}
    <table id="by-group"><tr>
      <td>
        <input type="text" name="by-periods" id="by-periods" class="form-control" placeholder="#" value="5"/>
      </td>
      <td></td> <td>x</td> <td></td> <!-- empty td for spacing -->
      <td>
        <div class="input-group" id="by-group">
          <input type="text" name="by-time" id="by-time" class="form-control" placeholder="#" value="1"/>
          <input type="hidden" name="by-time-type" id="by-time-type" value="minutes"/>
          <a href="#" class="input-group-addon" id="by-time-type-display">mins</a>
        </div>
      </td>
    </tr></table>
    {{/if}}
  </div>
  {{/if}}
</template>
