<template name="match">
  <div id="game-page">

    {{#if defaultNotify}}
      <div id="notify-permissions" class="alert alert-info"><a href="#" class="alert-link">Click to enable desktop notifications</a> so you know when it's your turn, without needing to watch this window.</div>
    {{/if}}

    <div class="row">

      <div class="col-md-8 left">
        {{ > board}}
      </div>

      <div class="col-md-4 right">
        {{ > playerBox position="top" game=this }}
        {{ > messageContainer}}
        {{ > playerBox position="bottom" game=this }}
      </div>

    </div>

  </div>
  <hr />
</template>
