<template name="createGame">


<li class="dropdown"> <a href="#" class="dropdown-toggle" id="create-game-menu" data-toggle="dropdown"><i class="fa fa-plus"></i> New Game</a>

  <form class="form create-game dropdown-menu" aria-labelledby="create-game-menu">
    <div class="form-group">
      <label class="control-label" for="title">Size</label>
      <div class="controls">
          <select name="size" id="size" class="form-control">
            <option value="9">9x9</option>
            <option value="13" selected>13x13</option>
            <option value="19">19x19</option>
          </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Your Color</label>
      <div class="controls">
        <label class="radio-inline">
          <input type="radio" name="color" value="black" checked />
          Black
        </label>
        <label class="radio-inline">
          <input type="radio" name="color" value="white" />
          White
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="enable-timer">
        <input type="checkbox" name="enable-timer" id="enable-timer" checked="{{timerEnabled}}"/> Timed
      </label>
    </div>
    {{#if timerEnabled}}
    <div class="form-group">
      <label class="sublabel" for="time-control">Main time</label>
      <div class="input-group" id="timer-group">
        <input type="text" name="time-control" id="time-control" class="form-control" placeholder="#" value="20"/>
        <input type="hidden" name="time-type" id="time-type" value="minutes"/>
        <a href="#" class="input-group-addon" id="time-type-display">minutes</a>
      </div>
    </div>
    <div class="form-group">
      <label class="sublabel" for="by-periods">Byo-yomi</label>
      <table id="by-group"><tr>
        <td>
          <input type="text" name="by-periods" id="by-periods" class="form-control" placeholder="#" value="5"/>
        </td>
        <td></td> <td>x</td> <td></td> <!-- empty td for spacing -->
        <td>
          <div class="input-group" id="by-group">
            <input type="text" name="by-time" id="by-time" class="form-control" placeholder="#" value="1"/>
            <input type="hidden" name="by-time-type" id="by-time-type" value="mins"/>
            <a href="#" class="input-group-addon" id="by-time-type-display">mins</a>
          </div>
        </td>
      </tr></table>
    </div>
    {{/if}}

    <input type="submit" value="Create Game &rarr;" class="btn btn-primary"/>
  </form>
</li>

</template>
