<template name="lobby">
  <div id="lobby">

    <div class="row">
      {{#if latestGame}}
        <div class="latest-game">
          {{#with latestGame}}
            {{> showGame }}
          {{/with}}
        </div>
      {{/if}}

      <div class="games-in-progress">
        {{> gameTable games=gamesInProgress heading="In progress"}}
      </div>
      <div class="completed-games">
        {{> gameTable games=completedGames heading="Completed"}}
      </div>
    </div>

    <hr />

    <div class="row">
    </div>

  </div>
</template>
