<template name="userItem">
    {{#if username color}}
      <span class="{{currentUserColor color}}">
        <i class="fa fa-user"></i> {{username color}}
        {{#if noTurnIndicator}}{{else}}
          {{#if currentMove color}}<i class="fa fa-dot-circle-o move-indicator"></i>{{/if}}
        {{/if}}
        {{#if isWinner color}}<small class="score">{{score}}</small>{{/if}}
      </span>
    {{else}}
      {{#if joinable}}
        <a href="#" class="join-game btn btn-primary btn-xs" data-color="{{color}}">Join Game</a>
      {{else}}
        <small>Waiting...</small>
      {{/if}}
    {{/if}}
</template>
