<template name="challengeMenu">

  {{#if showChallenges}}
  <li class="dropdown" id="challengeMenu">
    <a href="#" class="dropdown-toggle" id="challenges-menu" data-toggle="dropdown">
      {{#if receivedChallenges.count}}
        <span class="received">{{receivedChallenges.count}}</span>
      {{else}}
        <i class="fa fa-bullhorn"></i>
      {{/if}}
      Challenges
    </a>

    <div class="dropdown-menu" aria-labelledby="challenges-menu">
      <button id="new-challenge"><i class="fa fa-plus"></i> New</button>

      {{#if sentChallenges.count}}
      <label>Sent</label>
      <table>
        <tbody>
          {{#each sentChallenges}}
            {{> sentChallengeRow}}
          {{/each}}
        </tbody>
      </table>
      {{/if}}


      {{#if receivedChallenges.count}}
      <label>Received</label>
      <table>
        <tbody>
          {{#each receivedChallenges}}
            {{> receivedChallengeRow}}
          {{/each}}
        </tbody>
      </table>
      {{/if}}

    </div>

  </li>
  {{/if}}
</template>
