<template name="sentChallengeRow">
  <tr>
    {{#if acceptedAt}}
      <td><strong>{{username}}</strong> accepted!</td>
    {{else}}
    <td>Waiting for <strong>{{username}}</strong>...</td>
    {{/if}}

    <td>{{timeString}}</td>
    <td>{{size}}</td>
    <td>
      <div class="pull-right">
        {{#if acceptedAt}}
        <button class="challenge-acknowledge"><i class="fa fa-arrow-right"></i></button>
        {{else}}
        <button class="challenge-cancel"><i class="fa fa-times"></i></button>
        {{/if}}
      </div>
    </td>
  </tr>
</template>
