<template name="pmMenu">

  <li class="dropdown" id="pmMenu">
    <a href="#" class="dropdown-toggle" id="pm-menu" data-toggle="dropdown">
      {{#if receivedMessages.count}}
        <span class="received">{{receivedMessages.count}}</span>
      {{else}}
        <i class="fa fa-bullhorn"></i>
      {{/if}}
      Private Messages
    </a>

    <div class="dropdown-menu" aria-labelledby="pm-menu">
      {{#if receivedMessages.count}}
      <table>
        <tbody>
          {{#each receivedMessages}}
            {{> receivedMessagesRow}}
          {{/each}}
        </tbody>
      </table>
      {{/if}}

    </div>

  </li>
</template>
