<template name="gamesList">
  <div class="row">
    <div class="col-md-6">
      {{> gameTable games=userGames heading="Your games" style="panel-success"}}
    </div>
    <div class="col-md-6">
      {{> gameTable games=openGames heading="Open games" style="panel-info"}}
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-md-6">
      {{> gameTable games=gamesInProgress heading="In progress"}}
    </div>
    <div class="col-md-6">
      {{> gameTable games=completedGames heading="Completed"}}
    </div>
  </div>

</template>

<template name="gameTable">
  <div class="games-panel panel panel-default {{style}}">
    <div class="panel-heading">{{heading}}</div>
    {{#if games.count}}
    <table class="table table-hover">
      <!--
      <thead>
        <tr>
          <th>Black</th>
          <th>White</th>
          <th>Board</th>
        </tr>
      </thead>
    -->
      <tbody>
        {{#each games}}
        {{> gameItem}}
        {{/each}}
      </tbody>
    </table>
    {{else}}
      <div class="panel-body">No games here. Join or create one.</div>
    {{/if}}
  </div>
</template>

<template name="gameItem">
  <tr class="game">
    <td>
    {{#if getUsername "black" this}}
      {{getUsername "black" this}}
    {{else}}
      <a href="#" class="join-game btn btn-default" data-color="black">Join Game</a>
    {{/if}}
    </td>
    <td>
    {{#if getUsername "white" this}}
      {{getUsername "white" this}}
    {{else}}
      <a href="#" class="join-game btn btn-default" data-color="white">Join Game</a>
    {{/if}}
    </td>
    <td>{{size}}x{{size}}</td>
    <!-- <td>Hello fourth</td>-->
  </tr>
</template>
