<template name="gamesList">
  <table id="games" class="table table-hover">
    <thead>
      <tr>
        <th>Black</th>
        <th>White</th>
        <!-- <th>Time</th> -->
        <th>Board</th>
      </tr>
    </thead>
    <tbody>
    {{#each games}}
      {{> gameItem}}
    {{/each}}
    </tbody>
  </table>
</template>

<template name="gameItem">
  <tr class="game">
    <td>{{#if black}}{{black}}{{/if}}</td>
    <td>
    {{#if white}}
      {{white}}
    {{else}}
      <a href="#" class="join-link btn btn-default">Join Game</a>
    {{/if}}
    </td>
    <td>{{size}}</td>
    <!-- <td>Hello fourth</td>-->
  </tr>
</template>
