<template name="gameNew">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="url" type="text" value="" placeholder="Enter title" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Size</label>
      <div class="controls">
          <input name="size" id="size" type="text" value="" placeholder="9x9" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Player Color</label>
      <div class="controls">
        <input type="radio" name="color" value="black" checked /> Black
        <input type="radio" name="color" value="white" /> White
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>

</template>
