<template name="gamePage">
  <!-- <h1>{{toMove}}</h1>
  <p>Size: <strong>{{size}}</strong></p> -->

  <div id="game-page">

    {{ > playerBox color="black" game=this }}

    {{ > board}}

    <div class="messages-container">
      <ul class="messages">
        {{#each messages}}
        {{> message}}
        {{/each}}
      </ul>

      <form id="comment-form" action="#" class="form">
        <input type="text" name="content" class="form-control" placeholder="Enter comment" />
        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div>

    {{ > playerBox color="white" game=this }}


    <a href="#" class="btn btn-danger" id="archive">Archive game</a>

  </div>

  <hr>

</template>

<template name="message">
  <li class="message">
    <span class="author">{{this.author}}</span> : {{this.content}}
  </li>
</template>

<template name="board">
  {{loginRefresh}}
  {{restoreState}}
  <div id="board"></div>
</template>

<template name="playerBox">
    <div class="player-box">
      {{color}} player:
      {{{joinButton color}}}
      <span style="{{turnIndicator color}}">
        {{getUsername color game}}
      </span>
      <em>{{youIndicator color}}</em>
    </div>
</template>
