<template name="gamePage">
  <h1>{{toMove}}</h1>
  <p>Size: <strong>{{size}}</strong></p>
  <p>
    Black player:
    {{{joinButton 'black'}}}
    <span style="{{turnIndicator 'black'}}">{{black}}</span>
    <em>{{youIndicator 'black'}}</em>
  </p>
  <p>
    White player:
    {{{joinButton 'white'}}}
    <span style="{{turnIndicator 'white'}}">{{white}}</span>
    <em>{{youIndicator 'white'}}</em>
  </p>

  <div class="messages-container">
    <ul class="messages">
    {{#each messages}}
      {{> message}}
    {{/each}}
    </ul>
  </div>

  <form id="comment-form" action="#" class="form">
    <input type="text" name="content" class="form-control" placeholder="Enter comment" />
    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>

  {{ > board}}

  <a href="#" class="btn btn-danger" id="archive">Archive game</a>

  <hr>

</template>


<template name="message">
  <li class="message">
    <span class="author">{{this.author}}</span> : {{this.content}}
  </li>
</template>


<template name="board">

{{loginRefresh}}
{{restoreState}}

  <div id="board">
    <!-- board will go here -->
  </div>

</template>
