<template name="gamePage">
  <!-- <h1>{{toMove}}</h1>
  <p>Size: <strong>{{size}}</strong></p> -->

  <div id="game-page">


    <div class="left">
      {{ > board}}
    </div>

    <div class="right">
    {{ > playerBox position="top" game=this }}

      <div class="messages-container">
        <ul class="messages">
          {{#each messages}}
            {{> message}}
          {{/each}}
          {{messageScroller}}
        </ul>

        <form id="comment-form" action="#" class="form">
          <div class="input-group">
            <input type="text" name="content" class="form-control" placeholder="Enter comment" />
            <span class="input-group-btn">
              <input type="submit" class="btn btn-default" value="Submit" />
            </span>
          </div>
        </form>
      </div>

      {{ > playerBox position="bottom" game=this }}
    </div>
  </div>

  <hr />
  <a href="#" class="btn btn-danger" id="archive">Archive game</a>


</template>

<template name="message">
  <li class="message">
    {{#if this.author}}
      <span class="author">[{{this.author}}]</span> {{this.content}}
    {{else}}
      <em>{{this.content}}</em>
    {{/if}}
  </li>
</template>

<template name="board">
  {{loginRefresh}}
  {{restoreState}}
  <div id="board"></div>
</template>

<template name="playerBox">
  <div class="player-box {{playerTurn}}">
    <div class="user">
      {{#if data.user}}
        <i class="fa fa-user"></i> {{data.user.username}}
        {{#if data.isCurrentPlayer}}
          <em>(you)</em>
        {{/if}}
      {{else}}
        {{#if data.joinButton}}
          <a href="#" class="join-game btn btn-primary" data-color="{{data.color}}">Join as {{data.color}}</a>
        {{else}}
          <small><em>Waiting for opponent...</em></small>
        {{/if}}
      {{/if}}
    </div>
    <div class="color {{data.color}}"></div>
    <div class="clearfix"></div>
  </div>
</template>
